<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">New Post</h1>
  <div class="col-lg-6 offset-lg-3 mt-4">
    <form
      action="/feed/<%= post._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
    >
      <div class="mb-3">
        <label for="admin" class="form-label">Enter Username</label>
        <input
          type="text"
          name="socialmedia[admin]"
          id="admin"
          value="<%= post.admin %>"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Enter Comment</label>
        <input
          type="text"
          name="socialmedia[comments]"
          id="comment"
          class="form-control"
          value="<%= post.comments %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="caption" class="form-label">Enter Caption</label>
        <input
          type="text"
          name="socialmedia[caption]"
          id="caption"
          class="form-control"
          value="<%= post.caption %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Enter URL</label>
        <input
          type="text"
          class="form-control"
          id="image"
          name="socialmedia[image]"
          value="<%= post.image %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <button class="btn btn-success mb-3">Add Post</button>
    </form>
    <a href="/feed">My Feed</a>
    <a href="/feed/<%= post._id %>">Back to Post</a>
  </div>
</div>
