<% layout('layouts/boilerplate')%>
<ul>
  <li>Name: <%= post.admin %></li>
  <li>Image: <%= post.image %></li>
  <li>Comment: <%= post.comments %></li>
  <li>Caption: <%= post.caption %></li>
</ul>
<form action="/feed/<%= post._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<a href="/feed">My Feed</a>
<a href="/feed/<%= post._id %>/edit">Edit Post</a>
